

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 140, 236);
}

header {
    color: white;
    text-align: center;
    
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.138);
}

div#msg {
    text-align: center;
    font-weight: bold;
}

div#foto {
    margin-top: 30px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}